{% extends "base/admin/base.html" %}

{% block categoria_name %}USUARIOS{% endblock categoria_name %}
{% block title_name %}Todos los usuarios{% endblock title_name %}

{% block content %}


<div style="position: relative;">
    <div class="card-header">
        <h3 class="card-title">
            Equipos 
            {% if usuario_status == 'inactivos' %}Inactivos{% endif %} 
            {% if usuario_status == 'activos' %}Activos{% endif %}
            {% if usuario_status == 'monitores' %}Activos{% endif %}
            {% if usuario_status == 'administradores' %}Activos{% endif %} 
            {% if usuario_status == 'todos' %}{% endif %}
        </h3>
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'usuario:usuarios_monitores' %}" class="btn btn-ghost-primary active w-100">
                        Monitores
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'usuario:usuarios_administradores' %}" class="btn btn-ghost-primary active w-100">
                        Administradores
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'usuario:usuarios_inactivos' %}" class="btn btn-ghost-primary active w-100">
                        Inactivos
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'usuario:usuarios_activos' %}" class="btn btn-ghost-primary active w-100">
                        Activos
                    </a>
                </div>
               <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'usuario:usuarios' %}" class="btn btn-ghost-primary active w-100">
                        Todos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th class="w-1">Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{user.apellidos}} {{user.nombres}}</td>
                <td class="text-muted">
                {{user.nombre_usuario}}
                </td>
                <td class="text-muted"><a href="#" class="text-reset">{{user.email}}</a></td>
                <td class="text-muted">

                {% if user.is_staff %}
                Administrador
                {% else %}
                Monitor
                {% endif %}
                </td>
                <td>
                <a href="#">Detalle</a>
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No se encontraron resultados</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
</div>



{% endblock content %}

