{% extends "base/admin/base.html" %}

{% block categoria_name %}USUARIOS{% endblock categoria_name %}
{% block title_name %}INACTIVOS{% endblock title_name %}

{% block content %}


<div style="position: relative;">
    <div class="card">
        <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th class="w-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
            <tr>
                <td>{{user.apellidos}} {{user.nombres}}</td>
                <td class="text-muted">
                {{user.nombre_usuario}}
                </td>
                <td class="text-muted"><a href="#" class="text-reset">{{user.email}}</a></td>
                <td class="text-muted">
                {% if user.is_staff %}
                Administrador
                {% else %}
                Monitor
                {% endif %}
                </td>
                <td>
                    <div class="btn-list flex-nowrap">
                        <a href="#" class="btn">
                            Editar
                        </a>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                Acciones
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{% url 'usuario:activar_usuario' id=user.id %}">
                                    Activar
                                </a>
                                <a class="dropdown-item" href="#">
                                    Another action
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
</div>



{% endblock content %}
