{% extends "base/admin/base.html" %}

{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{% static 'dist/css/L.Icon.Pulse.css' %}">
{% endblock css_extra %}

{% block content %}

<!-- Crear un mapa de Leaflet -->
<div id="map" style="height: 400px;"></div>





{% endblock content %}

{% block javascript_extra %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="{% static 'dist/js/L.Icon.Pulse.js' %}"></script>
<script src="{% static 'dist/js/mapa.js' %}"></script>
{% endblock javascript_extra %}