{% load static %}
<!doctype html>

<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Autenticación - Heimdall Metrics</title>
    <!-- CSS files -->
    <link href="{% static 'dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.min.css' %}" rel="stylesheet"/>
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          -logo-
<!--          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>-->
        </div>
        <form class="card card-md" action="." method="get" autocomplete="off">
          {% csrf_token %}
          <div class="card-body">
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                      <strong>{{field.label}}: {{ error|escape }}</strong>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                      <strong>{{ error|escape }}</strong>
                {% endfor %}
              {% endif %}

            <h2 class="card-title text-center mb-4">Ingrese a su cuenta</h2>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Ingrese email">
            </div>
            <div class="mb-2">
              <label class="form-label">
                Contraseña
                <span class="form-label-description">
                  <a href="#">Olvidé la contraseña</a>
                </span>
              </label>
              <div class="input-group input-group-flat">
                <input type="password" class="form-control"  placeholder="Contraseña"  autocomplete="off">
                <span class="input-group-text">
                  <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                  </a>
                </span>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-check">
                <input type="checkbox" class="form-check-input"/>
                <span class="form-check-label">Recordarme en este dispositivo</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Autenticarse</button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          ¿Aún no tienes cuenta? <a href="#" tabindex="-1">Registrarse</a>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'dist/js/tabler.min.js' %}"></script>
    <script src="{% static 'dist/js/demo.min.js' %}"></script>
  </body>
</html>