{% load static %}
<!doctype html>

<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Registrar - Heimdall Metrics</title>
    <!-- CSS files -->
    <link href="{% static 'dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.min.css' %}" rel="stylesheet"/>
      {% block css_extra %}
      {% endblock css_extra %}
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          -logo-
          <!--          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>-->
        </div>
        <form class="card card-md" action=" " method="POST">
          {% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Crear nueva cuenta</h2>
            {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{field.label_tag}}</label>
              {% if field.name == "password" %}
              <div class="input-group input-group-flat">
                {{field}}
                <span class="input-group-text">
                  <a href="#" class="link-secondary" title="Mostrar contraseña" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                  </a>
                </span>
              </div>
              {% else %}
              {{field}}
              {% endif %}
            </div>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Crear nueva cuenta</button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          Ya tienes una cuenta? <a href="./sign-in.html" tabindex="-1">Iniciar Sesion</a>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'dist/js/tabler.min.js' %}"></script>
    <script src="{% static 'dist/js/demo.min.js' %}"></script>
  </body>
</html>