{% extends "base/admin/base.html" %}

{% block categoria_name %}EQUIPOS{% endblock categoria_name %}
{% block title_name %}INACTIVOS{% endblock title_name %}

{% block content %}


<div style="position: relative;">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Nro Serie</th>
                <th>Nombre</th>
                <th>Label</th>
                <th>Estado</th>
                <th>Fecha Asignacion</th>
            </tr>
            </thead>
            <tbody>
            {% for equipo in object_list %}

            <tr>
                <td class="text-muted">
                    {{equipo.nro_serie}}
                </td>
                <td>
                    {{equipo.name}}
                </td>
                <td>
                    {{equipo.label}}
                </td>
                <td class="text-muted">
                    <a class="btn btn-danger">
                        INACTIVO
                    </a>
                </td>
                <td>
                    {{equipo.fecha_asignacion}}
                </td>
                <td>
                <a href="">Detalle</a>
                <a href="">Editar</a>
                <a href="{% url 'equipo:eliminar_equipo' nro_serie=equipo.nro_serie%}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No se encontraron resultados</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}