{% extends "base/admin/base.html" %}

{% block categoria_name %}EQUIPOS{% endblock categoria_name %}
{% block title_name %}Todos los equipos{% endblock title_name %}

{% block items_menu %}
      <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
        <form method="get">
          <div class="input-icon">
            <span class="input-icon-addon">
              <!-- Download SVG icon from http://tabler-icons.io/i/search -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
            </span>
            <input id='search' type="text" class="form-control" placeholder="Buscar…" aria-label="Buscar en el sitio" name="search" value="{{search}}" value="{{search}}">
          </div>
        </form>
      </div>

    <div class="btn-list">
      <a href="{% url 'equipo:crear_equipo' %}" class="btn btn-primary d-none d-sm-inline-block" >
        <i class="bi bi-plus"></i>
        Nuevo Equipo
      </a>

    </div>
{% endblock items_menu %}

{% block content %}


<div style="position: relative;">
    <div class="card-header">
        <h3 class="card-title">
            Equipos {% if equipo_status == 'inactivos' %}Inactivos{% endif %} {% if equipo_status == 'activos' %}Activos{% endif %} {% if equipo_status == 'todos' %}{% endif %}
        </h3>
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'equipo:equipos_inactivos' %}" class="btn btn-ghost-primary active w-100">
                      Inactivos
                    </a>
                </div>
               <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'equipo:equipos_activos' %}" class="btn btn-ghost-primary active w-100">
                      Activos
                    </a>
                </div>
               <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                    <a href="{% url 'equipo:listar_equipos' %}" class="btn btn-ghost-primary active w-100">
                      Todos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Nro Serie</th>
                <th>Nombre</th>
                <th>Label</th>
                <th>Estado</th>
                <th>Fecha Asignacion</th>
            </tr>
            </thead>
            <tbody>
            {% for equipo in equipos %}

            <tr>
                <td class="text-muted">
                    {{equipo.nro_serie}}
                </td>
                <td>
                    {{equipo.name}}
                </td>
                <td>
                    {{equipo.label}}
                </td>
                <td class="text-muted">
                {% if equipo.activo == True %}
                    <a class="btn btn-success">
                        ACTIVO
                    </a>
                {% else %}
                    <a class="btn btn-danger">
                        INACTIVO
                    </a>
                {% endif %}
                </td>
                <td>
                    {{equipo.fecha_asignacion}}
                </td>
                <td>
                <a href="{% url 'equipo:equipo_detalle' pk=equipo.nro_serie%}">Detalle</a>
                {% comment %} <a href="{% url 'equipo:editar_equipo' nro_serie=equipo.nro_serie%}">Editar</a> {% endcomment %}
                <a href="{% url 'equipo:eliminar_equipo' nro_serie=equipo.nro_serie%}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No se encontraron resultados</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock content %}