{% extends "base/admin/base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalle Miembro</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            completar con form al hacer detalle y modificar miembro
            <a href="{% url 'entidad:lista_entidades' %}" class="btn">
			Cancelar
		  </a>
            <a href="" class="btn  btn-primary">
			Modificar
		  </a>
            <button type="submit" class="btn btn-danger"><i class="far fa-trash"></i>Eliminar</button>

        </form>
    </div>
</div>


{% endblock content %}

