{% extends "base/admin/base.html" %}

{% block content %}
         <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-4">
                <div class="card card-lg">
                  <div class="card-body">
                          <div class="card-header">
                                <h3 class="card-title">Detalle Tipo Gateway</h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <label class="form-label">Nombre</label>
                                      <input type="text" id="id_nombre" class="form-control" name="example-text-input" placeholder="{{tipo_gateway.nombre}}" readonly="">
                                    </div>


                                    <a href="{% url 'tipo_gateway:lista_tipogateway' %}" class="btn">
                                    Cancelar
                                  </a>
                                    <a href="{% url 'tipo_gateway:modificar_tipo_gateway' tipo_gateway.pk %}" class="btn  btn-primary">
                                    Modificar
                                  </a>

                                </form>
                            </div>
                  </div>
                </div>
              </div>
                <div class="col-lg-8">
                <div class="card card-lg">
                  <div class="card-body">
                        <div class="card-header">
                                <h3 class="card-title">Consolas</h3>
                          <div class="col-auto ms-auto d-print-none">

                              <span class="d-none d-sm-inline">
                                  <a href="" class="btn btn-primary d-none d-sm-inline-block" >
                                    <i class="bi bi-plus"></i>
                                    Nueva Consola
                                  </a>

                              </span>
                            </div>
                          </div>


                        </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                <table class="table table-vcenter card-table">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>APIKEY</th>
                                        <th>Base URL</th>
                                        <th class="w-1">Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for consola in consolas %}
                                    <tr>
                                        <td>{{consola.nombre}}</td>
                                        <td class="text-muted">
                                        {{consola.apikey}}
                                        </td>
                                        <td class="text-muted"><a href="#" class="text-reset">{{consola.base_url}}</a></td>
                                        <td>
                                        <a href="">Detalle</a>
                                        <a href="">Editar</a>
                                        <a href="">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No se encontraron resultados</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>



                            </div>
                  </div>
                </div>
              </div>

            </div>


         </div>


{% endblock content %}

