{% extends "base/admin/base.html" %}

{% block css_extra %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock css_extra %}

{% block categoria_name %}CONSUMO DEL EQUIPO{% endblock categoria_name %}
{% block title_name %}{% endblock title_name %}

{% block items_menu %}
      
{% endblock items_menu %}

{% block content %}
<div class="container-xl">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="card-title">Consumo equipo 22</h3>
              </div>
            </div>
        </div>
    </div>
    <div class="card-body" >
        <form action="">
            {% csrf_token %}
            <input type="date" id="datepicker">
        </form>
        <div id="chartdiv" style="width: 100%; height: 500px;">
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript_extra %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>


    
window.onload = function(){
    /* var fecha_inicio = new Date("2023-01-01T00:00:00").getTime()
    var fecha_fin = new Date("2023-01-30T00:00:00").getTime()
    var fecha_fin = Date.now();
    var fecha_inicio = fecha_fin - (3 * 24 * 60 * 60 * 1000);
    var nro_serie = 22;
    const data= {
    "fecha_inicio": fecha_inicio,
    "fecha_fin": fecha_fin,
    "nro_serie": nro_serie
    };
    $.ajax({
        url: "{% url 'consumos:obtener_consumos_intervalo' %}",
        type: 'get',
        dataType: 'json',
        data: data,
        success: function(data){
            console.log(data)
            // Crea la instancia del gráfico
            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.pixelPerfect = false;
            chart.height = 400;

            // Configura el eje X
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.grid.template.location = 0;
            dateAxis.renderer.minGridDistance = 50;

            // Configura el eje Y
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.title.text = "Consumo (Kwh)";

            // Agrega una serie de datos al gráfico
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "consumo";
            series.dataFields.dateX = "fecha";
            series.strokeWidth = 2;
            series.minBulletDistance = 10;
            series.bullet = "circle";
            series.bulletSize = 8;
            series.tooltipText = "{valueY}";

            // Agrega un cursor para interactuar con el gráfico
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.behavior = "zoomY";

            // Agrega una leyenda
            chart.legend = new am4charts.Legend();

            chart.titles.create().text = "Consumo por dia";

            // Agrega los datos al gráfico
            chart.data = data
        }
    }) */
    getGraphic = function(fecha_inicio, fecha_fin, nro_serie){
        const data= {
            "fecha_inicio": fecha_inicio,
            "fecha_fin": fecha_fin,
            "nro_serie": nro_serie
        };
        $.ajax({
            url: "{% url 'consumos:obtener_consumos_intervalo' %}",
            type: 'get',
            dataType: 'json',
            data: data,
            success: function(data){
                // Crea la instancia del gráfico
                var chart = am4core.create("chartdiv", am4charts.XYChart);
                chart.pixelPerfect = false;
                chart.height = 400;

                // Configura el eje X
                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.grid.template.location = 0;
                dateAxis.renderer.minGridDistance = 50;

                // Configura el eje Y
                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.title.text = "Consumo (Kwh)";

                // Agrega una serie de datos al gráfico
                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = "consumo";
                series.dataFields.dateX = "fecha";
                series.strokeWidth = 2;
                series.minBulletDistance = 10;
                series.bullet = "circle";
                series.bulletSize = 8;
                series.tooltipText = "{valueY}";

                // Agrega un cursor para interactuar con el gráfico
                chart.cursor = new am4charts.XYCursor();
                chart.cursor.behavior = "zoomY";

                // Agrega una leyenda
                chart.legend = new am4charts.Legend();

                // Add chart title
                chart.titles.create().text = "Consumo por dia";

                // Agrega los datos al gráfico
                chart.data = data
            }
        })
    }

    let currentDate = new Date();

    let day = currentDate.getDate().toString().padStart(2, '0');
    let month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
    let year = currentDate.getFullYear();

    let formattedDate = `${day}-${month}-${year}`;

    var previousDate = new Date(currentDate.getTime() - 3 * 24 * 60 * 60 * 1000);
    var previousDateString = previousDate.toLocaleDateString("es-ES", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric"
    });

    console.log(formattedDate);
    // Manejo del filtro por calendario con flatpickr
    flatpickr("#datepicker", {
    locale: "es",
    allowInput: true,
    dateFormat: "d-M-y",
    mode: "range",
    maxDate: currentDate,
    defaultDate: [currentDate, previousDate],
    onReady: function(selectedDates, dateStr, instance) {
        var fecha_inicio = selectedDates[0].getTime();
        var fecha_fin = selectedDates[1].getTime() + 24 * 60 * 60 * 1000;
        var nro_serie = 22;
        getGraphic(fecha_inicio, fecha_fin, nro_serie)
    },
    onClose: function (selectedDates) {
        var fecha_inicio = selectedDates[0].getTime();
        var fecha_fin = selectedDates[1].getTime() + 24 * 60 * 60 * 1000;
        var nro_serie = 22;
        getGraphic(fecha_inicio, fecha_fin, nro_serie)
    }
});
}
    
    
    
</script>
{% endblock javascript_extra %}