{% extends "base/admin/base.html" %}

{% block categoria_name %}MEDIDORES{% endblock categoria_name %}
{% block title_name %}{% endblock title_name %}

{% block items_menu %}
      <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
        <form method="get">
          <div class="input-icon">
            <span class="input-icon-addon">
              <!-- Download SVG icon from http://tabler-icons.io/i/search -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
            </span>
            <input id='search' type="text" class="form-control" placeholder="Buscar…" aria-label="Buscar en el sitio" name="search" value="{{search}}" value="{{search}}">
          </div>
        </form>
      </div>

    <div class="btn-list">
      <a href="{% url 'medidor:crear_medidor' %}" class="btn btn-primary d-none d-sm-inline-block" >
        <i class="bi bi-plus"></i>
        Nuevo Medidor
      </a>

    </div>
{% endblock items_menu %}

{% block content %}


<div style="position: relative;">
    <div class="card-header">
        <h3 class="card-title">
            Medidores
        </h3>
    </div>
    <div class="card">
        <div class="table-responsive">
                        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nro Cliente</th>
                <th>Nro Suministro</th>
                <th>Nro Serie</th>
            </tr>
            </thead>
            <tbody>
              {% for medidor in medidores %}
              
              <tr>
                  <td class="text-muted">
                      {{medidor.id}}
                  </td>
                  <td class="text-muted">
                      {{medidor.nro_cliente}}
                  </td>
                  <td>
                      {{medidor.nro_suministro}}
                  </td>
                  <td>
                      {{medidor.equipo.nro_serie}}
                  </td>
                  <td>
                  <td>
                      <a href="{% url 'medidor:detalle_medidor' pk=medidor.id%}">Detalle</a>
                      <a href="{% url 'medidor:editar_medidor' pk=medidor.id%}">Editar</a>
                      <a href="{% url 'medidor:eliminar_medidor' pk=medidor.id%}">Eliminar</a>
                  </td>
  
              </tr>
              {% empty %}
              <tr>
                  <td>No se encontraron resultados</td>
              </tr>
              {% endfor %}
              </tbody>
        </table>

        </div>
    </div>
</div>

{% endblock content %}