{% extends "base/admin/base.html" %}

{% block categoria_name %}SERVICIOS DE MAIL{% endblock categoria_name %}
{% block title_name %}Todos los servicios{% endblock title_name %}

{% block items_menu %}
      <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
        <form method="get">
          <div class="input-icon">
            <span class="input-icon-addon">
              <!-- Download SVG icon from http://tabler-icons.io/i/search -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
            </span>
            <input id='search' type="text" class="form-control" placeholder="Buscar…" aria-label="Buscar en el sitio" name="search" value="{{search}}" value="{{search}}">
          </div>
        </form>
      </div>

    <!-- <div class="btn-list">
      <a href="{% url 'email_service:create_email_service' %}" class="btn btn-primary d-none d-sm-inline-block" >
        <i class="bi bi-plus"></i>
        Nuevo Servicio
      </a>

    </div> -->
{% endblock items_menu %}

{% block content %}


<div style="position: relative;">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>Host</th>
                <th>Puerto</th>
                <th>Usuario</th>
                <th>Usa TLS</th>
            </tr>
            </thead>
            <tbody>
            
            {% for service in object_list %}
            <tr>
                <td class="text-muted">
                    {{service.id}}
                </td>
                <td>
                    {{ service.host }}
                </td>
                <td>
                    {{ service.port }}
                </td>
                <td class="text-muted">
                {% if service.use_tls == True %}
                    <a class="btn btn-success">
                        TLS
                    </a>
                {% else %}
                    <a class="btn btn-danger">
                        SSL
                    </a>
                {% endif %}
                </td>
                <td>
                <a href="{% url 'email_service:email_service_detail' pk=service.id%}">Detalle</a>
                <a href="">Editar</a>
                <a href="{% url 'email_service:email_service_delete' pk=service.id%}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No se encontraron resultados</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock content %}