{% extends "base/admin/base.html" %}

{% block content %}
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-lg-8">
              <div class="card card-lg">
                <div class="card-body">
                  <div class="card-header">
                    <h3 class="card-title">Editar servicio de correo electrónico</h3>
                  </div>
                  <div class="card-body">
                    <form method="post">
                      {% csrf_token %}
                      {{form.as_p}}
                      <a href="{% url 'email_service:email_service_list' %}" class="btn">
                        Cancelar
                      </a>
                      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock content %}