
      <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{% url 'dashboard_admin' %}"> -LOGO-
<!--              <img src="./static/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">-->
            </a>
          </h1>

          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
              <li class="nav-item {% if sidebar_active == 'dashboard' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'dashboard_admin' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-house-door"></i>
                  </span>
                  <span class="nav-link-title">
                    Home
                  </span>
                  
                </a>
              </li>
              {% if request.user.is_staff %}
              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuario:usuarios' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people-fill"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios
                  </span>
                </a>
              </li>
             
              <li class="nav-item {% if sidebar_active == 'entidades' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'entidad:lista_entidades' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-tag"></i>
                  </span>
                  <span class="nav-link-title">
                    Entidades
                  </span>
                </a>
              </li>

              <li class="nav-item {% if sidebar_active == 'tipo_gateway' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'tipo_gateway:lista_tipogateway' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-tag"></i>
                  </span>
                  <span class="nav-link-title">
                    Tipo Gateway
                  </span>
                </a>
              </li>
              <li class="nav-item {% if sidebar_active == 'equipos' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'equipo:listar_equipos' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-tag"></i>
                  </span>
                  <span class="nav-link-title">
                    Equipos
                  </span>
                </a>
              </li>
              <li class="nav-item dropdown {% if sidebar_active == 'medidores' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="4" width="6" height="5" rx="2"></rect><rect x="4" y="13" width="6" height="7" rx="2"></rect><rect x="14" y="4" width="6" height="7" rx="2"></rect><rect x="14" y="15" width="6" height="5" rx="2"></rect></svg>
                  </span>
                  <span class="nav-link-title">
                    Medidor
                  </span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column {% if sidebar_active_sub == 'crear' %}active{% endif %}">
                      <a class="dropdown-item" href="{% url 'medidor:crear_medidor' %}">
                        Crear
                      </a>
                    </div>
                    <div class="dropdown-menu-column {% if sidebar_active_sub == 'listar' %}active{% endif %}">
                      <a class="dropdown-item" href="{% url 'medidor:listar_medidores' %}">
                        Listar
                      </a>
                    </div>
                  </div>
                </div>
              <li class="nav-item dropdown {% if sidebar_active == 'ciudadanos' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="4" width="6" height="5" rx="2"></rect><rect x="4" y="13" width="6" height="7" rx="2"></rect><rect x="14" y="4" width="6" height="7" rx="2"></rect><rect x="14" y="15" width="6" height="5" rx="2"></rect></svg>
                  </span>
                  <span class="nav-link-title">
                    Ciudadanos
                  </span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column {% if sidebar_active_sub == 'crear_ciudadano' %}active{% endif %}">
                      <a class="dropdown-item" href="">
                        Crear
                      </a>
                    </div>
                    <div class="dropdown-menu-column {% if sidebar_active_sub == 'listar_ciudadano' %}active{% endif %}">
                      <a class="dropdown-item" href="{% url 'ciudadano:listar_ciudadanos' %}">
                        Listar
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              
              {% endif %}
            </ul>
          </div>
        </div>
      </aside>