
      <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{% url 'dashboard_admin' %}"> -LOGO-
<!--              <img src="./static/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">-->
            </a>
          </h1>

          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
              <li class="nav-item {% if sidebar_active == 'dashboard' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'dashboard_admin' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-house-door"></i>
                  </span>
                  <span class="nav-link-title">
                    Home
                  </span>
                  
                </a>
              </li>
              {% if request.user.is_staff %}
              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuarios' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios
                  </span>
                </a>
              </li>

              <li class="nav-item {% if sidebar_active == 'entidades' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'entidad:lista_entidades' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-tag"></i>
                  </span>
                  <span class="nav-link-title">
                    Entidades
                  </span>
                </a>
              </li>

              <li class="nav-item {% if sidebar_active == 'tipo_gateway' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'tipo_gateway:lista_tipogateway' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-tag"></i>
                  </span>
                  <span class="nav-link-title">
                    Tipo Gateway
                  </span>
                </a>
              </li>

              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuarios_activos' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios Activos
                  </span>
                </a>
              </li>
              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuarios_inactivos' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios Inactivos
                  </span>
                </a>
              </li>
              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuarios_administradores' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios Administrador
                  </span>
                </a>
              </li>
              <li class="nav-item {% if sidebar_active == 'usuarios' %}active{% endif %}" >
                <a class="nav-link" href="{% url 'usuarios_monitores' %}" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i class="bi bi-people"></i>
                  </span>
                  <span class="nav-link-title">
                    Usuarios Monitor
                  </span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </aside>