<div class="card-header-right">
    <div class="btn-group card-option">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
        </button>
        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
            <li class="dropdown-item full-card"><a href="#!"><span><i class="far fa-window-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="fas fa-compress-arrows-alt"></i> Minimizar</span><span style="display:none"><i class="fas fa-expand"></i> Expandir</span></a></li>
            <li class="dropdown-item reload-card"><a href="#!"><i class="fas fa-sync"></i> Recargar</a></li>
            <li class="dropdown-item close-card"><a href="#!"><i class="far fa-trash-alt"></i> Remover</a></li>
        </ul>
    </div>
</div>